input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('images/icons/searchi.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        float:right;
}
.scrollup {
     width: 40px;
     height: 48px;
     position: fixed;
     bottom: 41px;
     right: 4px;
     display: none;
     text-indent: -9999px;
     background: url('images/icons/icon_top.png') no-repeat;
}